{% extends 'main.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}

        <h1 class="info_list">В нашем магазине представлены различные модели обуви</h1>
<h2 class="info_list">ТОП-3 популярных моделей</h2>
        <div class="shoes_row">
            <a href="/jacket/"><img src="../static/img/jacket.jpg" class="clothes_img_item" alt="Куртка"></a>
                    <a href="#"><img src="../static/img/trousers.jpg" class="clothes_img_item" alt="Штанцы"></a>
                    <a href="#"><img src="../static/img/cap.jpg" class="clothes_img_item" alt="Кепка"></a>
        </div>
 <a href="https://www.wildberries.ru/catalog/muzhchinam"><h2 class="info_list">показать еще >>></h2></a>
{% endblock%}