{% extends 'main.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}

        <h1 class="info_list">В нашем магазине представлены различные модели обуви</h1>
<h2 class="info_list">ТОП-3 популярных моделей</h2>
        <div class="shoes_row">
            <a href="#"><img src="../static/img/boots_01.jpg" class="shoe_img" alt="Модели обуви"></a>
                    <a href="#"><img src="../static/img/boots_02.jpg" class="shoe_img" alt="Модели обуви"></a>
                    <a href="#"><img src="../static/img/boots_03.jpg" class="shoe_img" alt="Модели обуви"></a>
        </div>
 <a href="https://www.wildberries.ru/catalog/obuv/muzhskaya"><h2 class="info_list">показать еще >>></h2></a>
{% endblock%}