{% extends 'main.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
            <h1 class="greeting">Добро пожаловать в магазин одежды</h1>
        <p class="info_list">У нас огромный выбор стильной одежды и обуви</p>
        <div class="pick_one">
       <div class="clothes"><a href="/clothes/"><img src="../static/img/clothes.jpg" class="clothes_img" alt="Модели одежды">
                    <p  class="text_img">ОДЕЖДА</p>
                       </a>
       </div>
       <div class="footwear"><a href="/footwear/"><img src="../static/img/footwear.jpg" class="footwear_img" alt="Модели обуви">
           <p  class="text_img">ОБУВЬ</p>
       </a>
       </div>
        </div>
{% endblock %}