{% extends 'main.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}

        <h1 class="info_list">Куртка черно-белая красивая</h1>
                    <a href="/jacket/"><img src="../static/img/jacket.jpg" class="clothes_item" alt="Куртка"></a>
                    <p class="info_list"></p>
<h1 class="info_list">Цена: 5000 руб.</h1>
 <a href="https://www.wildberries.ru/catalog/muzhchinam/odezhda/tolstovki"><h2 class="info_list">похожие модели >>></h2></a>

{% endblock%}