<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Магазин
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header class="top_line">

        <div class="navigation_list">
        <div class="nav-item"><a href="/index/" class="nav-link">Главная</a></div>
        <div class="nav-item"><a href="/clothes/" class="nav-link">Одежда</a></div>
        <div class="nav-item"><a href="/footwear/" class="nav-link">Обувь</a></div>
    </div>
</header>

<section class ="content_section">
    {% block content %}
    Страница не заполнена#
    {% endblock %}
</section>

<footer class="footer_line">
<p>Все права конкретно защищены &copy;</p>
</footer>
</body>

</html>